<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bicycleApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BicycleApp">
        <activity
            android:name=".TourAdapter"
            android:exported="false" />
        <activity
            android:name=".HighlightDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".StatsActivity"
            android:exported="false" />
        <activity
            android:name=".TourDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".TourListActivity"
            android:exported="false" />
        <activity
            android:name=".HighlightAddActivity"
            android:exported="false" />
        <activity
            android:name=".RecordActivity"
            android:exported="false" />
        <activity
            android:name=".HighlightListActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".TripDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".TripListActivity"
            android:exported="false" />
        <activity
            android:name=".TripAddActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>